<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @residue.restaurant %>
</p>

<p>
  <strong>Time:</strong>
  <%= @residue.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @residue.description %>
</p>

<p>
  <strong>Discount upto:</strong>
  <%= @residue.discount %>
</p>

<%= link_to 'Edit', edit_residue_path(@residue) %> |
<%= link_to 'Back', restaurants_index_path %>
